<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Weekend Challenge 4</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="vendors/css/bootstrap.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="styles/style.css">

    <!-- js -->
    <script type="text/javascript" src="vendors/jquery.js"></script>
    <script type="text/javascript" src="scripts/client.mn.js"></script>


</head>

<body>
    <div class="row">
        <div class="col-md-12">
            <h1>Minnesota Property Listings</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form class="form-inline searchListings">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Looking For</label>
                <select class="custom-select" id="listingTypeSearch">
                    <option></option>
                    <option value="House">House</option>
                    <option value="Apartment">Apartment</option>
                </select>
                <button type="submit" class="searchBtn">Search</button>
            </form>
        </div>

        <di4v class="col-md-8">
            <form class="form-inline addListing">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Add a Listing</label>
                <select class="custom-select" id="listingTypeAdd">
                    <option></option>
                    <option value="House">House</option>
                    <option value="Apartment">Apartment</option>
                </select>
                <input type="text" placeholder="Property Value" id="valueOfProperty">
                <input type="text" placeholder="Square Feet" id="sqftOfProperty">
                <input type="text" placeholder="City" id="cityOfProperty">
                <button type="submit" class="submitBtn">Submit</button>
            </form>
        </div>
    </div>


    <div class="row houseListings"></div>
    </div>

    <div class="row apartmentListings"></div>
    </div>




    <script src="vendors/js/bootstrap.js"></script>
</body>

</html>
